.gameboard {
  border: hidden #eef4fb;
  min-height: 450px;
  min-width: 450px;
  margin: 30px;
  display: grid;
  grid-template-rows: 1fr 10fr;
  border-radius: 15px;
  background-color: #f2f7fd;
  text-align: center;
  padding: 30px;
  box-shadow: 5px 10px 10px 8px #dce6ee;
}

.layout {
  background-color: #f9fbfd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #f0f3f6;
  border-radius: 20px;
}
